/** 
 * Fonts
 */
// SpoqaHanSans
@font-face {
  font-family: 'SpoqaHanSansRegular';
  src: url('../fonts/SpoqaHanSans/SpoqaHanSansRegular.woff2') format('woff2'),
    url('../fonts/SpoqaHanSans/SpoqaHanSansRegular.woff') format('woff'),
    url('../fonts/SpoqaHanSans/SpoqaHanSansRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SpoqaHanSansBold';
  src: url('../fonts/SpoqaHanSans/SpoqaHanSansBold.woff2') format('woff2'),
    url('../fonts/SpoqaHanSans/SpoqaHanSansBold.woff') format('woff'),
    url('../fonts/SpoqaHanSans/SpoqaHanSansBold.ttf') format('truetype');
}

@font-face {
  font-family: 'SpoqaHanSansLight';
  src: url('../fonts/SpoqaHanSans/SpoqaHanSansLight.woff2') format('woff2'),
    url('../fonts/SpoqaHanSans/SpoqaHanSansLight.woff') format('woff'),
    url('../fonts/SpoqaHanSans/SpoqaHanSansLight.ttf') format('truetype');
}

@font-face {
  font-family: 'SpoqaHanSansThin';
  src: url('../fonts/SpoqaHanSans/SpoqaHanSansThin.woff2') format('woff2'),
    url('../fonts/SpoqaHanSans/SpoqaHanSansThin.woff') format('woff'),
    url('../fonts/SpoqaHanSans/SpoqaHanSansThin.ttf') format('truetype');
}

// Rubik
@font-face {
  font-family: 'RubikRegular';
  src: url('../fonts/Rubik/Rubik-Regular.ttf') format('truetype');
  unicode-range: U+0020-007E;
}

@font-face {
  font-family: 'RubikMedium';
  src: url('../fonts/Rubik/Rubik-Medium.ttf') format('truetype');
  unicode-range: U+0020-007E;
}

@font-face {
  font-family: 'RubikLight';
  src: url('../fonts/Rubik/Rubik-Light.ttf') format('truetype');
  unicode-range: U+0020-007E;
}

@font-face {
  font-family: 'RubikBold';
  src: url('../fonts/Rubik/Rubik-Bold.ttf') format('truetype');
  unicode-range: U+0020-007E;
}

@font-face {
  font-family: 'RubikBlack';
  src: url('../fonts/Rubik/Rubik-Black.ttf') format('truetype');
  unicode-range: U+0020-007E;
}

@font-face {
  font-family: 'RubikItalic';
  src: url('../fonts/Rubik/Rubik-Italic.ttf') format('truetype');
  unicode-range: U+0020-007E;
  font-style: italic;
}
